[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-jwt = "*"
python-dotenv = "*"
werkzeug = "~=2.0.0"
jinja2 = "~=3.0.3"
flask-sqlalchemy = "==2.5.1"

[dev-packages]

[requires]
python_version = "3.7"
